.container,
header {
	width: 100%;
	}
.container {
    /*position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background: url(../img/Home_320.png);
    opacity: 1;
    -webkit-background-size: 100%;
    background-size: 100%;*/
}

header {
    height: 161vw;
	background-image: url(../img/320_header-bg.png);
    -webkit-background-size: 100%;
    background-size: 100%;
    overflow: hidden;
    text-transform: uppercase;
	}

a {
    text-decoration: none;
    color: #fff;
}

.logo {
    padding: 20vw 0 6vw 0;
    text-align: center;
    color: #fff;
    font-family: 'League Gothic', Sans, Arial, sans-serif;
    font-size: 16vw;
    letter-spacing: -.5vw;
    text-shadow: 0 2px 2px rgba(0,0,0,.3);
}

.logo--color {
    background: linear-gradient(to top, #322539, #745083);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #c3e54b;
    text-shadow: none;
}

.header-menu {
    display: block;
    text-align: center;
    width: 75vw;
    box-sizing: border-box;
    margin: 0 auto;
    border-collapse: collapse;
}

.header-menu li {
    border-collapse: collapse;
}

.header-menu a {
    vertical-align: middle;
    font-family: 'League Gothic', Sans, Arial, sans-serif;
    font-size: 7.5vw;
}
.header-menu--underline {
    position: relative;
    line-height: 14vw;
}

.header-menu--underline:after {
    content: '';
    margin: 0 auto;
    position: absolute;
    top: 9vw;
    left: -1vw;
    display: block;
    height: 1vw;
    width: 15vw;
    border-bottom: 1vw solid #edbfff;
}

.header-menu__dropdown {
    display: none;
    border-collapse: collapse;
}

.header-menu:focus .header-menu--underline:after,
.header-menu:hover .header-menu--underline:after {
    display: none;
}

.header-menu:focus,
.header-menu:hover {
    background-color: rgba(61, 49, 70, .8);
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.6);
    -moz-box-shadow: 0 3px 5px rgba(0,0,0,.6);
    box-shadow: 0 3px 5px rgba(0,0,0,.6);
    box-sizing: border-box;
    border-radius: 4px 4px 0 0;
}

.header-menu__dropdown li {
    display: block;
    box-sizing: border-box;
    width: 75vw;
    line-height: 14vw;
    background-color: rgba(61, 49, 70, .8);
    border: 1px solid rgba(105,82,114,.59);
}

.header-menu__dropdown li:last-child {
    border-radius: 0 0 4px 4px;
}

.header-menu__dropdown li:focus,
.header-menu__dropdown li:hover {
    background-color: rgba(43, 34, 49, .9);
    border-bottom: 1vw solid rgba(237, 191, 255, 1);
}

.header-menu:focus .header-menu__dropdown,
.header-menu:hover .header-menu__dropdown {
    display: block;
    position: absolute;
}

.slider {
    width: 70vw;
    margin: 0 auto;
    text-align: left;
    padding: 37.5vw 0 2vw 0;
    font-family: 'League Gothic', Sans, Arial, sans-serif;
    text-shadow: 0 2px 2px rgba(0,0,0,.3);
}

.slider__first-paragraph {
    text-transform: capitalize;
    color: #fefefe;
    font-size: 11vw;
    padding: 0 0 .5vw 5.5vw;
}

.slider__second-paragraph {
    text-transform: uppercase;
    color: #edbfff;
    font-size: 6vw;
    padding-left: 5vw;
    letter-spacing: -.1vw;
}

.circles {
    width: 20vw;
    display: block;
    margin: 0 auto;
}

.circles li {
    display: inline-block;
    position: relative;
    content: '';
    width: 3vw;
    height: 3vw;
    margin-left: 1vw;
    background: url(../img/circles.png);
    -webkit-background-size: cover;
    background-size: cover;
    box-sizing: border-box;
}

.circles--white {
    display: none;
}

.circles li:hover .circles--white {
    display: block;
    margin: 15% 15% 15% 15%;
    width: 70%;
    height: 70%;
    background: url(../img/white-circle.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 12vw 0 0 0;
    background-image: -webkit-linear-gradient(bottom, #322539, #745083);
    background-image: -moz-linear-gradient(bottom, #322539, #745083);
    background-image: -o-linear-gradient(bottom, #322539, #745083);
    background-image: -ms-linear-gradient(bottom, #322539, #745083);
    background-image: linear-gradient(to top, #322539, #745083);
    width: 100vw;
    height: 175vw;
    border-bottom: 1px solid #21333b;
}

.info__about-company {
    position: relative;
    width: 61vw;
    margin: 10vw 0 9.5vw 25.5vw;
    color: #fff;
}

.info__about-company:before {
    content: '';
    display: block;
    width: 9.5vw;
    height: 9.5vw;
    position: absolute;
    left: -16vw;
    top: 0vw;
    background: url('../img/wrench.png') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.info__about-company a {
    display: block;
    width: 32vw;
    position: absolute;
    right: -20vw;
    bottom: -10vw;
    text-transform: uppercase;
    text-shadow: 1px 1px #0f1518;
    font-size: 5.5vw;
    font-family: 'League Gothic', Sans, Arial, sans-serif;
}

.info__about-company a:focus,
.info__about-company a:hover {
    text-shadow: 0 0 8px rgba(255,255,255,.8);
}

.info__about-company h3 {
    text-transform: uppercase;
    font-family: 'League Gothic', Sans, Arial, sans-serif;
    font-size: 7.5vw;
    padding-bottom: 1vw;
    text-shadow: 1px 1px #0f1518;
}

.info__about-company p {
    line-height: 8vw;
    font-family: 'Open Sans', Sans, Arial, sans-serif;
    font-weight: 400;
    text-shadow: 1px 1px #0f1518;
    letter-spacing: -.1vw;
}

.blogs {
    background-color: #f9f9f9;
    padding: 22vw 0 0 0;
}

.feedback {
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    width: 80vw;
    height: 85vw;
    margin: 0 0 0 14vw;
    padding: 8vw 8vw 0 11vw;
    background-color: #fff;
    box-sizing: border-box;
    overflow: hidden;
}

.feedback h3 {
    display: block;
    width: 27vw;
    text-transform: uppercase;
    font-family: 'League Gothic', Sans, Arial, sans-serif;
    text-shadow: 1px 1px #fff;
    font-size: 7.5vw;
    color: #454545;
}

.feedback h3 span {
    color: #edbfff;
}

.feedback p {
    display: block;
    height: 55vw;
    line-height: 8vw;
    overflow: hidden;
    font-family: 'Open Sans', Sans, Arial, sans-serif;
    color: #454545;
    text-shadow: 1px 1px #fff;
}
