.container,
header {
	width: 100%;
	}

header {
    height: 30vw;
	background-image: url(../img/header-bg.png);
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    text-transform: uppercase;
	}

a {
    text-decoration: none;
}

.logo {
    padding: 3vw 0 1vw 0;
    text-align: center;
    color: #fff;
    font-size: 4vw;
    text-shadow: 0 2px 2px rgba(0,0,0,.3);
}

.logo--color {
    background: linear-gradient(to top, #322539, #745083);
    /*font-family: LeagueGothic;*/
    /*need to download fonts*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #c3e54b;
    text-shadow: none;
}

.header-menu {
    display: block;
    text-align: center;
    width: 25vw;
    margin: 0 auto;
    border-collapse: collapse;
}

.header-menu li {
    border-collapse: collapse;
    line-height: 3vw;
}

.header-menu a {
    color: #fff;
    vertical-align: middle;
    font-size: 2vw;
}
.header-menu--underline {
    position: relative;
    line-height: 5vw;
}

.header-menu--underline:after {
    content: '';
    margin: 0 auto;
    position: absolute;
    top: 2vw;
    left: -1vw;
    display: block;
    height: 1vw;
    width: 7.5vw;
    border-bottom: .5vw solid #edbfff;
}

.header-menu__dropdown {
    display: none;
    border-collapse: collapse;
}

.header-menu:focus,
.header-menu:hover {
    background-color: rgba(61, 49, 70, .5);
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 0 3px 5px rgba(0,0,0,.2);
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
    border: solid 1px rgba(5, 17, 22, .25);
    border-radius: 4px;
}

.header-menu__dropdown li {
    display: block;
    border: 1px solid rgba(105,82,114,.59);
}

.header-menu__dropdown li:focus,
.header-menu__dropdown li:hover {
    background-color: rgba(43, 34, 49, .5);
    border: 1px solid rgba(237, 191, 255, .5);
}

.header-menu:focus .header-menu__dropdown,
.header-menu:hover .header-menu__dropdown {
    display: block;
}

.slider {
    width: 25vw;
    margin: 0 auto;
    text-align: left;
    padding: 5vw 0 2vw 2vw;
    font-family: LeagueGothic;
    /*!!!!!!!!!!! ПІДКЛЮЧИТИ ШРИФТ !!!!!!!!!!!!!!!!*/
    text-shadow: 0 2px 2px rgba(0,0,0,.3);
}

.slider__first-paragraph {
    text-transform: capitalize;
    color: #fefefe;
    font-size: 2.5vw;
    padding-bottom: .5vw;
}

.slider__second-paragraph {
    text-transform: uppercase;
    color: #edbfff;
    font-size: 1.5vw;
    letter-spacing: -.5px;
}

.circles {
    width: 20vw;
    display: block;
    margin: 0 auto;
}

.circles li {
    display: inline-block;
    position: relative;
    content: '';
    width: 3vw;
    height: 3vw;
    margin-left: 1vw;
    background: url(../img/circles.png);
    -webkit-background-size: cover;
    background-size: cover;
    box-sizing: border-box;
}

.circles--white {
    display: none;
}

.circles li:hover .circles--white {
    display: block;
    margin: 15% 15% 15% 15%;
    width: 70%;
    height: 70%;
    background: url(../img/white-circle.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}